@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed&display=swap");

//global styling and asset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);

$primary-white: rgb(255, 255, 255);
$primary-black: rgb(0, 0, 0);
$accent-gray: rgb(229, 229, 229);
$accent-red: rgb(139, 0, 0);

@mixin main-font() {
  font-family: "Roboto Condensed", sans-serif;
}

@mixin bold-font() {
  font-family: "Bebas Neue", cursive;
}

#loading-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: $primary-white;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;

  .loader {
    background: url(/images/maelstromCirc.svg) no-repeat;
    animation: loader-anim 1s infinite linear;
    width: 100px;
    height: 100px;
  }
}

@keyframes loader-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: $primary-white;
}

//navbar styling
.navbar {
  width: 100vw;
  background-color: $primary-white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: url(/images/waveBG.svg);
  background-size: 150% 150%;
  animation: nav-bg-anim 60s infinite linear;

  @keyframes nav-bg-anim {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

  .logo {
    font-size: 2.1rem;
    padding: 1rem;

    .logo-bold {
      @include bold-font();
    }

    .logo-light {
      @include main-font();
    }
  }

  ul {
    display: flex;
    justify-content: space-between;

    li {
      list-style: none;
      padding: 0.5rem;

      a {
        text-decoration: none;
        color: $primary-black;
        @include main-font();
        padding: 0.5rem;

        .sotd-link {
          color: $accent-red;
          @include bold-font();
        }

        &:hover {
          text-decoration: underline;
          text-decoration-color: $primary-black;
          text-decoration-thickness: 1px;
          text-underline-offset: 2px;
        }
      }
    }
  }

  .navbar-icons {
    ul {
      li {
        padding: 1rem;
      }
    }
  }
}

.toggle-button {
  position: absolute;
  top: 1.25rem;
  right: 1rem;
  display: none;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: $primary-black;
  border-radius: 10px;
}

@media only screen and (max-width: 700px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-icons {
    position: absolute;
    right: 3.4rem;
    top: 0.4rem;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links ul li {
    padding: 0.75rem;
  }

  .navbar-links ul li a {
    padding: 0.25rem;

    .sotd-link::after {
      content: " (Story of the Day)";
    }
  }

  .navbar-links.active {
    display: flex;
  }
}

//grid and the hero content
.container-1 {
  display: grid;
  grid-template-columns: 60% 1fr;
  gap: 1em;
  width: 97vw;
  margin: 0 auto;

  .container-1-col-1 {
    padding: 10px;
    border-right: 1px solid $accent-gray;
    gap: 0.5em;

    .col-1-header-section {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 10px;

      .col-1-header {
        @include bold-font();
        font-size: 2.7rem;
      }

      .col-1-author {
        @include main-font();
        padding: 2px;
        background-color: $primary-black;
        color: $primary-white;
      }

      .sotd {
        @include bold-font();
        color: $accent-red;
        text-decoration: underline;
        text-decoration-color: $accent-red;
        text-underline-offset: 2px;
      }
    }

    .col-1-content {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      @include main-font();
      text-align: justify;
    }

    @media (max-width: 850px) {
      .col-1-content {
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 1px solid $accent-gray;
        padding-bottom: 10px;

        .col-1-img {
          width: 350px;
          height: auto;
          padding: 10px;
        }
      }
    }

    .col-tag {
      font-size: 0.7em;
      @include main-font();
      color: $accent-red;
    }
  }

  .container-1-col-2 {
    .sub-col-1 {
      border-bottom: 1px solid $accent-gray;
      @include main-font();
      padding: 10px;

      .col-tag {
        font-size: 0.7em;
        @include main-font();
        color: $accent-red;
      }
    }

    .sub-col-2 {
      border-bottom: 1px solid $accent-gray;
      @include main-font();
      padding: 10px;

      .col-tag {
        font-size: 0.7em;
        @include main-font();
        color: $accent-red;
      }
    }
    .sub-col-3 {
      border-bottom: 1px solid $accent-gray;
      @include main-font();
      padding: 10px;

      .col-tag {
        font-size: 0.7em;
        @include main-font();
        color: $accent-red;
      }
    }
  }

  @media (max-width: 850px) {
    .container-1-col-1 {
      grid-column: span 2;
    }

    .container-1-col-2 {
      display: grid;
      grid-column: span 2;
      gap: 1em;
    }
  }

  @media (max-width: 600px) {
    .container-1-col-1 {
      grid-column: span 2;
    }

    .container-1-col-2 {
      display: grid;
      grid-column: span 2;
      gap: 1em;
    }
  }
}

.line {
  background-color: $accent-gray;
  height: 3px;
  width: 85vw;
  margin: 20px auto;
  border: none;
}

//container-2
.container-2 {
  width: 97vw;
  margin: 0 auto;

  .container-2-col-1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1em;

    .container-2-col-1-sub-col-1 {
      border: 1px solid $accent-gray;
      border-right-style: none;
      border-left-style: none;
      @include main-font();
      padding: 10px;

      .col-tag {
        font-size: 0.7em;
        @include main-font();
        color: $accent-red;
      }
    }

    .container-2-col-1-sub-col-2 {
      border-bottom: 1px solid $accent-gray;
      @include main-font();
      padding: 10px;

      .col-tag {
        font-size: 0.7em;
        @include main-font();
        color: $accent-red;
      }
    }

    .container-2-col-1-sub-col-3 {
      border-bottom: 1px solid $accent-gray;
      @include main-font();
      padding: 10px;

      .col-tag {
        font-size: 0.7em;
        @include main-font();
        color: $accent-red;
      }
    }
  }
}

//container-3
.container-3 {
  width: 97vw;
  margin: 0 auto;

  .container-3-col-1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1em;

    .container-3-col-1-sub-col-1 {
      border: 1px solid $accent-gray;
      border-right-style: none;
      border-left-style: none;
      @include main-font();
      padding: 10px;

      .col-tag {
        font-size: 0.7em;
        @include main-font();
        color: $accent-red;
      }
    }

    .container-3-col-1-sub-col-2 {
      border-bottom: 1px solid $accent-gray;
      @include main-font();
      padding: 10px;

      .col-tag {
        font-size: 0.7em;
        @include main-font();
        color: $accent-red;
      }
    }

    .container-3-col-1-sub-col-3 {
      border-bottom: 1px solid $accent-gray;
      @include main-font();
      padding: 10px;

      .col-tag {
        font-size: 0.7em;
        @include main-font();
        color: $accent-red;
      }
    }
  }
}

//container-4
.container-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  width: 97vw;
  margin: 0 auto;

  .container-4-col-1 {
    padding: 10px;
    border-right: 1px solid $accent-gray;
    gap: 0.5em;

    .col-1-header-section {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 10px;

      .col-1-header {
        @include bold-font();
        font-size: 2.7rem;
      }

      .col-1-author {
        @include main-font();
        padding: 2px;
        background-color: $primary-black;
        color: $primary-white;
      }

      .sotd {
        @include bold-font();
        color: $accent-red;
        text-decoration: underline;
        text-decoration-color: $accent-red;
        text-underline-offset: 2px;
      }
    }

    .col-1-content {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      @include main-font();
      text-align: justify;
    }

    @media (max-width: 850px) {
      .col-1-content {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 10px;

        .col-1-img {
          width: 350px;
          height: auto;
          padding: 10px;
        }
      }
    }

    .col-tag {
      font-size: 0.7em;
      @include main-font();
      color: $accent-red;
    }
  }

  .container-4-col-2 {
    padding: 10px;
    border-right: 1px solid $accent-gray;
    gap: 0.5em;

    .col-2-header-section {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 10px;

      .col-2-header {
        @include bold-font();
        font-size: 2.7rem;
      }

      .col-2-author {
        @include main-font();
        padding: 2px;
        background-color: $primary-black;
        color: $primary-white;
      }

      .sotd {
        @include bold-font();
        color: $accent-red;
        text-decoration: underline;
        text-decoration-color: $accent-red;
        text-underline-offset: 2px;
      }
    }

    .col-2-content {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      @include main-font();
      text-align: justify;
    }

    @media (max-width: 850px) {
      .col-2-content {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 10px;

        .col-2-img {
          width: 350px;
          height: auto;
          padding: 10px;
        }
      }
    }

    .col-tag {
      font-size: 0.7em;
      @include main-font();
      color: $accent-red;
    }
  }

  
  @media (max-width: 850px) {
    .container-4-col-1 {
      grid-column: span 2;
      border: 1px solid $accent-gray;
      border-right: none;
      border-left: none;
    }

    .container-4-col-2 {
      display: grid;
      grid-column: span 2;
      gap: 1em;
      border: 1px solid $accent-gray;
      border-right: none;
      border-left: none;
    }
  }

  @media (max-width: 600px) {
    .container-4-col-1 {
      grid-column: span 2;
      border: 1px solid $accent-gray;
      border-right: none;
      border-left: none;
    }

    .container-4-col-2 {
      display: grid;
      grid-column: span 2;
      gap: 1em;
      border-right: none;
      border: 1px solid $accent-gray;
      border-right: none;
      border-left: none;
    }
  }
}


.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 10px;
  background-color: $primary-black;

  .footer-text {
    font-size: 1.4rem;
    @include bold-font();
    padding: 10px;
    color: $primary-white;
  }

  .btn {
    padding: 10px;
    margin-left: 20px;
    background-color: $primary-black;
    color: $primary-white;
    @include main-font();
    border: 2px solid $accent-gray;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    cursor: pointer;

    &:hover {
      background-color: $primary-white;
      color: $primary-black;
    }
  }

  @media only screen and (max-width: 850px) {
    .footer-text {
      font-size: .9rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .footer-text {
      font-size: .9rem;
    }
  }
}
